*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 133px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  block-size: 298px;
  overflow-y: scroll;
  position: relative;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 399px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
  position: relative;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 194px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}

p {
  height: fit-content;
}

.content__video-card-description-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 6px;
}

.title {
  text-transform: uppercase;
  font-size: 75px;
  font-weight: bold;
  line-height: 0.94em;
  letter-spacing: 0px;
  font-family: "Oswald", sans-serif;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: normal;
  line-height: 0.162em;
  color: #fff;
  inline-size: 100%;
}

.content__card-link {
  text-decoration: none;
}

.search-form__fieldset-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22em;
  /* margin-bottom: 5px; */
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
  display: grid;
  row-gap: 5px;
}

.search-form__textfield {
  inline-size: 225px;
  background-color: #1b1919;
  appearance: none;
  padding: 2.5px 0px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  block-size: 27px;
}
::placeholder {
  font-size: 18px;
  line-height: 1.22em;
  font-family: "Fira Sans Condensed", sans-serif;
  letter-spacing: 0px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
}

.search-form__pseudo-checkbox {
  block-size: 19px;
  inline-size: 19px;
  outline: 1px solid #fff;
}
.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.button {
  appearance: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.22em;
  font-weight: bold;
  color: #fff;
  outline: 1px solid #fff;
  text-align: center;
  background-color: #1b1919;
}

.search-form__submit-button {
  inline-size: 194px;
}

.more-button {
  inline-size: 100%;
}

.search-form {
  margin-bottom: 0;
}

.content__list {
  overflow-x: hidden;
}
