*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  gap: 5px;
}

.search-form__fieldset-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22em;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  inline-size: 399px;
}

.content__list {
  overflow: auto;
  position: relative;
  inline-size: 399px;
  block-size: 298px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__list-item {
  display: flex;
  justify-content: space-between;
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px 194px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-basis: 200px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  white-space: wrap;
}

.title {
  text-transform: uppercase;
  font-size: 75px;
  font-weight: bold;
  line-height: 0.94em;
  letter-spacing: 0px;
  font-family: "Oswald", sans-serif;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: normal;
  line-height: 0.9em;
  color: #fff;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  appearance: none;
  padding: 2.5px 0px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::placeholder {
  font-size: 18px;
  line-height: 1.22em;
  font-family: "Fira Sans Condensed", sans-serif;
  letter-spacing: 0px;
  opacity: 70%;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
}

.search-form__pseudo-checkbox {
  block-size: 19px;
  inline-size: 19px;
  outline: 1px solid #fff;
}

.search-form__label {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.button {
  appearance: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.22em;
  min-block-size: 34px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  background-color: inherit;
  font-family: inherit;
  padding: 6px 0px;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  inline-size: 194px;
  align-self: flex-end;
}

.more-button {
  white-space: nowrap;
  inline-size: 399px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

input[type="checkbox"]:checked + span {
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:active {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  display: block;
  outline: 1px solid #fff;
}
