*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0;
  block-size: 54px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  block-size: 298px;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  inline-size: 399px;
  block-size: 534px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  block-size: 107px;
  inline-size: 398px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-basis: 200px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  white-space: wrap;
}
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  block-size: 49px;
  gap: 5px;
}
.search-form__fieldset-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22em;
}

.title {
  text-transform: uppercase;
  font-size: 75px;
  font-weight: bold;
  line-height: 0.94em;
  letter-spacing: 0px;
  font-family: "Oswald", sans-serif;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: normal;
  line-height: 0.9em;
  color: #fff;
}

.content__card-link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  background-color: #1b1919;
  appearance: none;
  padding: 2.5px 0px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

input::placeholder {
  font-size: 18px;
  line-height: 1.22em;
  font-family: "Fira Sans Condensed", sans-serif;
  letter-spacing: 0px;
  opacity: 70%;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
}

.search-form__pseudo-checkbox {
  block-size: 19px;
  inline-size: 19px;
  outline: 1px solid #fff;
}
.search-form__label {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.button {
  appearance: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.22em;
  block-size: 34px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  background-color: inherit;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  padding: 6px 73.5px;
  inline-size: 194px;
}

.more-button {
  white-space: nowrap;
  padding: 6px 146.5px;
  inline-size: 100%;
}

.search-form {
  margin-bottom: 0;
}

.search-form__textfield {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input[type="text"]:focus {
  outline: none;
}

.search-form__label:has(> input:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

input[type="checkbox"]:checked + span {
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:active {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}
li:focus-visible {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

input[type="text"]:active {
  border: 1px solid #fff;
}

.content__card-link_current {
  display: block;
  background-color: #545050;
}

.content__card-link:active {
  display: block;
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link {
  margin: 2px;
}

.content__card-link:focus-visible {
  display: block;
  outline: 1px solid #fff;
}
